<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- <button class="btn btn-danger" (click)="onlogout()">Log Out</button> -->
<h1>Patient Login</h1>
<form #abcd="ngForm" (ngSubmit)="submit(abcd.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" name="username" ngModel>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password" ngModel>
    </div>
    <button type="submit" class="btn btn-danger">Submit</button>
  </form>