
hospitalmsystemangular/.classpath
hospitalmsystemangular/.classpath
*.class
hospitalmsystemangulartest/


hospitalmsystemangular/target/classes/application.properties
hospitalmsystemangular/.project
