<div class="container-fluid text-center" id="tasksDiv">
    <h3 style="margin-top: 3%;">All Patients List</h3>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
                <!-- welcome{{user.firstname}} -->
                <tr>
                    <th>Patient_Id</th>
                    <th>UserName</th>
                    <th>Name</th>
                    <!-- <th>Password</th> -->
                    <th>Dob</th>
                    <th>Gender</th>
                    <th>address</th>
                    <th>Aadhar</th>
                    <th>Pin</th>
                    <th>Active</th>
                    <th>Phone</th>
                <!-- <th>Delete</th>
                    <th>Edit</th> -->
                </tr>
            </thead>
            <tbody>
               
                    <tr *ngFor ="let user  of users">
                        <td>{{user.patient_id}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.name}}</td>
                        <!-- <td>{{user.password}}</td> -->
                        <td>{{user.dob}}</td>
                        <td>{{user.gender}}</td>
                        <td>{{user.address}}</td>
                        <td>{{user.aadhar}}</td>
                        <td>{{user.pin}}</td>
                        <td>{{user.active}}</td>
                        <td>{{user.phone}}</td>
                    </tr>
               
            </tbody>
        </table>
    </div>
</div>
