<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<!-- <button class="btn btn-suuccess" (click)="onlogout()">Log Out</button> -->
<h1>Patient Login</h1>
<div class="container">
<form #abcd="ngForm" (ngSubmit)="submit(abcd.value)">
    <div class="form-group">
      <label for="exampleInputEmail1">Username</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email" name="username" ngModel>
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password" name="password" ngModel>
    </div>
    <!-- <p>Forget Password?</p> -->
    <div class="Login">
    <button type="submit" class="btn btn-success">Login</button>
  </div>
  </form>
</div>