<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
<div class="container text-center">
	<button class="btn btn-danger" (click)="onlogout_patient()">Log Out</button>
				<h3>Update Yourself</h3>
				<hr>
				<form class="form-horizontal" #abcd="ngForm" (ngSubmit)="submit(abcd.value)">
                    <div class="form-group">
						<!-- <label class="control-label col-md-3">Username</label> -->
						<div class="col-md-7">
							<input type="hidden" class="form-control" name="patient_id"
							[(ngModel)]="user.patient_id" ngModel/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">Username</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="username"
							[(ngModel)]="user.username" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">First Name</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="name"
							[(ngModel)]="user.name" ngModel/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">password</label>
						<div class="col-md-3">
							<input type="text" class="form-control" name="password"
							[(ngModel)]="user.password" ngModel/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">dob</label>
						<div class="col-md-7">
							<input type="date" class="form-control" name="dob"
							[(ngModel)]="user.dob" ngModel/>
						</div>
					</div>

                    <div class="form-group">
						<label class="control-label col-md-3">Gender</label>
						<div class="col-md-7">
							<input type="date" class="form-control" name="gender"
							[(ngModel)]="user.gender" ngModel/>
						</div>
					</div>
                    <div class="form-group">
						<label class="control-label col-md-3">Aadhar Id</label>
						<div class="col-md-7">
							<input type="number" class="form-control" name="aadhar"
							[(ngModel)]="user.aadhar" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Pin</label>
						<div class="col-md-7">
							<input type="number" class="form-control" name="pin"
							[(ngModel)]="user.pin" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">address</label>
						<div class="col-md-3">
							<input type="text" class="form-control" name="address"
							[(ngModel)]="user.address" ngModel/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">phone</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="phone"
							[(ngModel)]="user.phone" ngModel />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Active</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="active"
							[(ngModel)]="user.active" ngModel/>
						</div>
					</div>
					
					
					
					<div class="form-group ">
						<input type="submit" class="btn btn-primary" value="Update" />
					</div>
				</form>
			</div>

</body>
</html>