<body>
<div class="container-fluid text-center" id="tasksDiv">
			<h1><b>Your Appointments</b></h1>
				
				<hr>
				<h3>Upcoming Appointments</h3>
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Appointment Id</th>
								<!-- <th>patientId</th>
								<th>doctorId</th> -->
								<th>Datetime</th>
								<th>Feedback</th>
								<th>Description</th>
								<th>Given Prescription</th>
								<th>Prescription</th>

								
							</tr>
						</thead>
						<tbody>
							
								<tr *ngFor="let user of users">
									<td>{{user.appointmentId}}</td>
									<!-- <td>{{user.patientId}}</td>
									<td>{{user.doctorId}}</td> -->
									<td>{{user.datetime}}</td>
								
				
									     
                                    <td>{{user.feedback}}</td>        
                                    <td>{{user.description}}</td>
									<!-- <td>{{user.prescription}}</td> -->
									<td>{{user.prescription}}</td>
                                    <td><button class="btn btn-danger" (click)="getprescriptionForm(user.appointmentId)"><span
                                        class="glyphicon glyphicon-pencil"></span>Prescribe</button></td>
								
								</tr>
							
						</tbody>
					</table>
				</div>
				<br>
				<br>
				<h3>Previous Appointments</h3>
				<div class="table-responsive">
					<table class="table table-striped table-bordered">
						<thead>
							<tr>
								<th>Appointment Id</th>
								<!-- <th>patientId</th>
								<th>doctorId</th> -->
								<th>Datetime</th>
								<th>Feedback</th>
								<th>Description</th>
								<th>Given Prescription</th>
								<th>Prescription</th>

								
							</tr>
						</thead>
						<tbody>
							
								<tr *ngFor="let user of prevapp">
									<td>{{user.appointmentId}}</td>
									<!-- <td>{{user.patientId}}</td>
									<td>{{user.doctorId}}</td> -->
									<td>{{user.datetime}}</td>    
                                    <td>{{user.feedback}}</td>        
                                    <td>{{user.description}}</td>
									<!-- <td>{{user.prescription}}</td> -->
									<td>{{user.prescription}}</td>
                                    <td><button class="btn btn-danger" (click)="getprescriptionForm(user.appointmentId)"><span
                                        class="glyphicon glyphicon-pencil"></span>Prescribe</button></td>
								
								</tr>
							
						</tbody>
					</table>
				</div>
			</div>

</body>
