<!-- <p>fgf</p> -->
<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
<div class="container text-center">
	<!-- <button class="btn btn-danger" (click)="onlogout_doctor()">Log Out</button> -->
				<!-- <h3>Update User</h3> -->
				<hr>
				<form class="form-horizontal" #abcd="ngForm" (ngSubmit)="submit(abcd.value)">
				<div class="form-group">
						<label class="control-label col-md-3">Id</label>
						<div class="col-md-3">
							<input type="text" class="form-control" name="doctor_id" placeholder="Enter Id"
								[(ngModel)]="user.doctor_id" ngModel/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">Username</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="username" placeholder="Enter User Name"
							[(ngModel)]="user.username" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">First Name</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="firstname" placeholder="Enter First Name"
							[(ngModel)]="user.firstname" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Last Name</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="lastname" placeholder="Enter Last Name"
							[(ngModel)]="user.lastname" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Password</label>
						<div class="col-md-3">
							<input type="text" class="form-control" name="password" placeholder="Enter Password"
							[(ngModel)]="user.password" ngModel/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">Date Of Birth</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="dob" placeholder="yyyy-mm-dd" 
							[(ngModel)]="user.dob" ngModel/>
							
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Department_id</label>
						<div class="col-md-7">
							<input type="number" class="form-control" name="department_id" placeholder="Enter DepartmentId"
							[(ngModel)]="user.department_id" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Address</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="address" placeholder="Enter Address"
							[(ngModel)]="user.address" ngModel/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">EmailId</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="email" placeholder="Enter EmailId"
							[(ngModel)]="user.email" ngModel />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Active</label>
						<div class="col-md-7">
							<input type="text" class="form-control" name="active" placeholder="Yes/No"
							[(ngModel)]="user.active" ngModel/>
						</div>
					</div>
					<div class="form-group ">
						<input type="submit" class="btn btn-primary" value="Update" />
					</div>
				</form>
			</div>

</body>
</html>