<body>
<h1 style="margin-top: 3%;">Welcome Dr. {{DoctorData.firstname}}</h1>
<div class="container-fluid">
  <div class="card-deck" style="margin-top: 2%;">
    <div class="col-md-4">
<div class="card">
             <img src="assets/vaccine.jpg" class="card-img-top" height="300" alt="...">
             <div class="card-body">
                   <h5 class="card-title">Vaccination Drive </h5>
                   <p class="card-text">HMS, one of India’s largest hospital operators, asked the government to lower vaccine prices for the private sector to make it affordable to more people and increase the service charge to cover the costs of administering vaccines at offices and residential areas. HMS has taken several initiatives to make vaccination available at residential areas and workplaces, providing ease and convenience to senior citizens and corporate employees.</p>
                   <div class="row">
             </div>
       </div>
   </div>
</div>
   <div class="col-md-4">
       <div class="card">
             <img src="assets/dctr.jpg" class="card-img-top" height="300" alt="...">
             <div class="card-body">
                   <h5 class="card-title">Excellent Doctors</h5>
                   <p class="card-text">Done properly, ethical medical marketing can grow your profits, attract the patients and cases you want,some extra text.some extra text. build your reputation (brand), and even enable you to have a life again.some extra text.some extra text.some extra text.Healthcare Success specializes in getting you results. Our clients are typically hospitals, medical practices  who want to reach patients.Our company has three divisions: Education, Consulting, and a full-service healthcare marketing Agency.</p>
                   <div class="row">
                   </div>
             </div>
       </div>
   </div>
   <div class="col-md-4">
       <div class="card">
             <img src="assets/eq.jpg" class="card-img-top" height="300" alt="...">
             <div class="card-body">
                   <h5 class="card-title">State of the art facilities & equipments</h5>
                   <p class="card-text">Our hospitals not only have world class medical experts but also the sophisticated state-of-the-art medical equipment, such as:da Vinci® Si Robotic Surgical System, Novalis® Tx Radiosurgery Platform, Catheterization Lab, Hybrid Operation Room. The United Family Healthcare (UFH) Supply Chain Management Center (SCMC) is responsible for supplying all materials needed for clinical operations nationwide throughout the UFH system. </p>
                   <div class="row">
                   </div>
             </div>
       </div>
   </div>
  </div>
    
<div style="margin-top: 3%;">
<button class="btn btn-danger" routerLink="/doctor_appointments"><b>See Appointments</b></button>
<br/><br/>
<button class="btn btn-info" routerLink="/edit_doctor"><b>Update personal Details</b></button>
<!-- <button class="btn btn-info" routerLink="/doctor_login">Doctor Panel</button> -->
</div> 
</div>
</body>
