<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<title>Insert title here</title>
</head>
<body>
<h1>Patient Registration</h1>
<form class="form-horizontal"  #abcd="ngForm" (ngSubmit)="submit(abcd.value)">
					
					<div class="form-group">
						<label class="control-label col-md-3">username</label>
						<div class="col-md-7">
							<input path="username" type="text" class="form-control" name="username"
								value="" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">password</label>
						<div class="col-md-7">
							<input path="password" type="text" class="form-control" name="password"
								value="" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">name</label>
						<div class="col-md-7">
							<input path="name" type="text" class="form-control" name="name"
								value="" ngModel />
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">address</label>
						<div class="col-md-7">
							<input path="address" type="address" class="form-control" name="address"
								value="" ngModel/>
						</div>
					</div>
					
					
					
					<div class="form-group">
						<label class="control-label col-md-3">dob</label>
						<div class="col-md-7">
							<input path="dob" type="date" class="form-control" name="dob"
								value="" ngModel/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">gender</label>
						<div class="col-md-7">
							<input path="gender" type="gender" class="form-control" name="gender"
								value="" ngModel/>
						</div>
					</div>
					
					
					<div class="form-group">
						<label class="control-label col-md-3">aadhar</label>
						<div class="col-md-7">
							<input path="aadhar" type="aadhar" class="form-control" name="aadhar"
								value="" ngModel/>
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">pin</label>
						<div class="col-md-7">
							<input path="pin" type="pin" class="form-control" name="pin"
								value="" ngModel />
						</div>
					</div>
					
					<div class="form-group">
						<label class="control-label col-md-3">active</label>
						<div class="col-md-7">
							<input path="active" type="active" class="form-control" name="active"
								value="" ngModel />
						</div>
					</div>
                    <div class="form-group">
						<label class="control-label col-md-3">phone</label>
						<div class="col-md-7">
							<input path="active" type="phone" class="form-control" name="phone"
								value="" ngModel />
						</div>
					</div>
					
					
					<div class="form-group ">
						<input type="submit" class="btn btn-primary" value="Register" />
					</div>
					
				</form>

</body>
</html>
