<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<h1>Patient Registration</h1>
<form class="form-horizontal"  #abcd="ngForm" (ngSubmit)="submit(abcd.value)">
	<div class="container">					
					<div class="form-group">
						<label class="control-label col-md-3">Username</label>
						<div class="col-md-7">
							<input path="username" type="text" class="form-control" name="username" placeholder="Enter Email Id as Username" value="" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Name</label>
						<div class="col-md-7">
							<input path="name" type="text" class="form-control" name="name" placeholder="Enter Name as per Aadhar Card" value="" ngModel />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Aadhar Number</label>
						<div class="col-md-7">
							<input path="aadhar" type="aadhar" class="form-control" name="aadhar" placeholder="Enter Aadhar Number" value="" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Address</label>
						<div class="col-md-7">
							<input path="address" type="address" class="form-control" name="address" placeholder="Enter Address" value="" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Phone Number</label>
						<div class="col-md-7">
							<input path="active" type="phone" class="form-control" name="phone" placeholder="Enter Phone Number" value="" ngModel />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Date of Birth</label>
						<div class="col-md-7">
							<input path="dob" type="date" class="form-control" name="dob"
								value="" ngModel/>
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Gender</label>
							<input type="radio" name="gender" value="male" ngModel/>
							<label for="male">Male </label> &nbsp;
							<input type="radio" name="gender" value="female" ngModel/> 
							<label for="female">Female </label> &nbsp;
							<input type="radio" name="gender" value="other" ngModel/>
							<label for="other">Other</label>
						
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Pincode</label>
						<div class="col-md-7">
							<input path="pin" type="pin" class="form-control" name="pin" placeholder="Enter Pincode" value="" ngModel />
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-md-3">Password</label>
						<div class="col-md-7">
							<input path="password" type="password" class="form-control" name="password" placeholder="Enter Password" value="" ngModel/>
						</div>
					</div>
					<div class="Login">
						<button type="submit" class="btn btn-primary" value="Register">Register</button>
					  </div>
					</div>
				</form>